header {
	margin-bottom: 0;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

hr{
	color: #cccccc;
	height: 1px;
	clear: both;
	width: 100%;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
	float: left;
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;

}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h6 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	float: right;
	padding: 10px;
	margin-bottom: 0;
	color: gray;
}

.tiny-heads {
	padding-top: 15px;
	color: #777777;
	margin-right: 40px;
}

.main {
	clear: both;
	background-color: #dddddd;
	height: 560px;
	width: 960px;

}


.hr-main {
	width: 100%;
	margin-bottom: 20px;
}


#my-body-top {
	display: block;
	float: left;
	
}

#pic-of-moi {
	float: left;
	margin-right: 5px;
	width: 128px;
	display: block;
}

.icon { 
	width: 40px;
}

#first-parg {
	float: left;
	display: block;
	width: 450px;
	padding-left: 10px;
	margin: 0px;

}

#my-body-bottom {
	clear: both;
	margin-top: 180px;
}

.connect-icons {
	padding-left: 35px;
}

.connect-hr {
	width: 70%;
}
.about-me {
	width: 650px;
	background-color: white;
	border: 1px solid #cccccc;
	position: relative;
	top: 30px;
	left: 20px;
	display: inline;
	float: left;
	padding: 0px 22px 22px 22px;
}

.connect {
	width: 200px;
	height: 150px;
	background-color: white;
	border: 1px solid #cccccc;
	padding: 0px;
	top: 30px;
	right: 25px;
	position: relative;
	float: right;
	display: inline;

}

h3 {
	color: #4aaaa5;	
	text-align: center;
}

p {
	color: #777777;
}

.footer-hr {
	height: 10%;
	background-color: #4aaaa5;
	margin: 0px;
}

.footer-p {
	padding-top: 40px;
	margin: 0px;
	color: white;
	font-size: 10px;
}

.footer {
	background-color: #666666;
	text-align: center;
	height: 100px;
}



/*** Portfolio Page Styling ***/

.main-portfolio {
	width: 650px;
	height: 480px;
	background-color: white;
	border: 1px solid #cccccc;
	position: relative;
	top: 30px;
	left: 20px;
	display: inline;
	float: left;
	padding: 22px;


}

#pic1 {
	float: left;
	padding: 20px;
	width: 150px;
	height: 100px;
	margin-left: 100px;
}

#pic2 {
	float: left;
	padding: 20px;
	width: 150px;
	height: 100px;
}

#pic3 {
	clear: both;
	float: left;
	padding: 20px;
	width: 150px;
	height: 100px;
	margin-left: 100px;
}

#pic4 {
	float: left;
	padding: 20px;
	width: 150px;
	height: 100px;
}

#pic5 {
	clear: both;
	float: left;
	padding: 20px;
	width: 150px;
	height: 100px;
	margin-left: 100px;
}



/*** Contact Page Styling ***/

.main-contact {
	clear: both;
	background-color: #dddddd;
	height: 500px;
	width: 960px;
	display: inline;
}

#contact-form {
	width: 650px;
	background-color: white;
	border: 1px solid #cccccc;
	position: relative;
	top: 30px;
	left: 20px;
	display: inline;
	float: left;
	padding: 22px;
}

#name_input {
	width: 100%;
	margin-top-top: 40px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#email_input {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top-top: 40px;
	margin-bottom: 10px;
}

#message_input {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top-top: 40px;
	margin-bottom: 10px;
}

#submit_button {
	background-color: #4aaaa5;
	color: white;
	float: left;
	width: 12%;
	height: 30px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;	
}